.content__wrapper{
    margin: 4rem auto;
    width: 50%;
    font-family: var(--font-main);
}
.content__wrapper h3{
    font-size: 1.6rem;
}

.content__wrapper p{
    font-size: 1.2rem;
}

