footer{
    position: absolute;
    bottom: 0;
    padding: 1.3rem;
    font-family: var(--font-main);
    font-weight: 700;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}