.links-list{
    width: 48%;
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 1.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.list-item{
    width: 50%;
    border-bottom: 2px solid var(--dark);
    margin: 1.5rem 0.5rem;
    padding: 0.5rem 1rem;
  
}
.list-number{
    position: absolute;
    cursor: pointer;
    left: 175px;
    background-color: var(--blue);
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    color: var(--light);
}
.list-number::after{
    position: absolute;
    content: '';
    right: -7px;
    top: 5px;
}
.list-number:hover::after{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--blue);
}
.link{
    color: var(--dark);
    text-decoration: none;
}

@media screen and (max-width:800px) {
    .links-list{
        width: 100%;
        margin: 0;
    }
    .list-item{
        width: 90%;
    }
    .list-number{
        left: 10px;
    }
}