
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    color: var(--dark);
    font-family: var(--font-main);
    font-weight: bold;
}
.navbar__logo{
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 700;
}
.navbar__logo:hover{
    cursor: pointer;
}
.navbar__links{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__link{
    margin: 0.5rem 1.5rem;
    line-height: 1rem;
    font-size: 1.4rem;
    transition: all 0.2s;
}

.navbar__link:hover{
    cursor: pointer;
    opacity: 0.9;
    
}