.validation__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px 0px;
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--light);
    animation-name: slide-in;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    transform: translate(0, -20px) 
}

.validation__bar.valid{
    background-color: var(--green);
}

.validation__bar.unvalid{
  
    background-color: var(--red);
 
}
@keyframes slide-in {
    0% {
      transform: translate(0, -20px);
      opacity:.1
    }
    50% {
      transform: translate(0, 0);
      opacity:1
    
    }
    75%{
        transform: translate(0, 0);
        opacity: 0.9;
    }
    100%{
        transform: translate(0,-40px);
        opacity: .1;
    }
}



